
body {
    font-family: Inter, sans-serif;
    background-color: #f3f3f3; 
    margin: 0;
    padding: 20px;
    color: #000000; 
}
h1, h2 {
    color: #6a0dad; 
}

header {
    text-align: center; 
}
section {
    padding: 7px; /* Відступи які дорівнюють варіанту */
    margin-bottom: 20px; 
}


section:first-of-type {
    background-color: transparent; /* Прозорий фон */
    text-align: left; 
}

/* Стиль для таблиці */
table {
    width: 100%;
    border-collapse: collapse; /* Об'єднання меж таблиці */
}

table caption {
    font-weight: bold;
    margin: 10px 0;
}

th, td {
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: right; 
}

th {
    background-color: #777777; 
    color: white; 
}

blockquote {
    font-style: italic; /* Курсив для цитати */
    margin: 15px 0; 
    padding: 15px; 
    background-color: #777777; 
    color: #ffffff; 
    border-left: 5px solid #777777; 
    border-radius: 5px; /* Закруглені краї */
}

.my-section {
    background-color: #777777;  
    color: white; 
    padding: 7px; /* Відступи 7 */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легка тінь */
    margin-bottom: 20px; /* Відступ між секціями */
    text-align: right; /* Вирівнювання контенту по правому краю непарний варіант */
}
.contact-info {
    padding-right: 10px;
    text-align: right; 
}

.contact-info li {
    padding-right: 10px;
    direction: rtl; 
}